@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?koswr1');
  src:  url('icomoon.eot?koswr1#iefix') format('embedded-opentype'),
  url('icomoon.ttf?koswr1') format('truetype'),
  url('icomoon.woff?koswr1') format('woff'),
  url('icomoon.svg?koswr1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e91f";
}
.icon-shield:before {
  content: "\e91e";
}
.icon-rec-circular-button:before {
  content: "\e919";
}
.icon-reply:before {
  content: "\e91d";
}
.icon-add-plus-button:before {
  content: "\e91b";
}
.icon-minus:before {
  content: "\e91c";
}
.icon-phone-receiver:before {
  content: "\e91a";
}
.icon-schedule-button:before {
  content: "\e918";
}
.icon-circle:before {
  content: "\e917";
}
.icon-male-user-shadow:before {
  content: "\e915";
}
.icon-shopping-bag:before {
  content: "\e916";
}
.icon-aim:before {
  content: "\e900";
}
.icon-aim-1:before {
  content: "\e901";
}
.icon-aircraft:before {
  content: "\e902";
}
.icon-backpack:before {
  content: "\e903";
}
.icon-cctv:before {
  content: "\e904";
}
.icon-condecoration:before {
  content: "\e905";
}
.icon-email:before {
  content: "\e906";
}
.icon-id:before {
  content: "\e907";
}
.icon-jet:before {
  content: "\e908";
}
.icon-map-pin-silhouette:before {
  content: "\e909";
}
.icon-medal:before {
  content: "\e90a";
}
.icon-medal-1:before {
  content: "\e90b";
}
.icon-placeholder:before {
  content: "\e90c";
}
.icon-play-button:before {
  content: "\e90d";
}
.icon-radar:before {
  content: "\e90e";
}
.icon-radar-1:before {
  content: "\e90f";
}
.icon-secure-shield:before {
  content: "\e910";
}
.icon-smartphone:before {
  content: "\e911";
}
.icon-supplies:before {
  content: "\e912";
}
.icon-tent:before {
  content: "\e913";
}
.icon-tent-1:before {
  content: "\e914";
}
