# Options +FollowSymLinks -MultiViews
# RewriteEngine On
# RewriteBase /
# RewriteCond %{HTTP_HOST} !^localhost$

# RewriteRule ^$  index.php [NC,L]
# RewriteRule ^hakkimizda$  hakkimizda.php [NC,L]
# RewriteRule ^faaliyet$  faaliyet_alanlari.php [NC,L]
# RewriteRule ^iletishim$  iletishim.php [NC,L]